<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= "Dave" if @kid.parent_id == 1%>
</p>

<p>
  <strong>Name:</strong>
  <%= @kid.name %>
</p>
<h2>Current Verse</h2>
<p><b><%= @current.verse %></b> <%= @current.text %></p>
<%= form_tag("/memorizeds", method: :post) do %>
  <%= hidden_field_tag 'kid_id', @kid.id %>
  <%= hidden_field_tag 'verse_id', @current.id %>
  <%= submit_tag("Complete") %>
<% end %>

<h2>Completed verses</h2>
<% @verses.each do |v| %>
<p><b><%= v.verse.verse %></b> <%= v.verse.text %></p>
<% end %>
<%= link_to 'Edit', edit_kid_path(@kid) %> |
<%= link_to 'Back', kids_path %>
