<!DOCTYPE html>
<html>
<head>
  <title>Proverbs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<% if user_signed_in? %>
  <ul>
    <% unless current_user.parent.nil? %>
      <li><%= link_to 'all kids', parent_path(current_user.parent.id) %></li>
      <% unless current_user.parent.kids.nil? %>
        <% current_user.parent.kids.each do |kid| %>
          <li><%= link_to kid.name, kid_path(kid) %></li>
        <% end %>
      <% end %>
    <% end %>
    <li><%= link_to 'proverbs', verses_path %></li>
    <li><%= link_to 'sign out', destroy_user_session_path, method: "DELETE" %></li>
  </ul>
<% else %>
 <%= link_to 'sign up', new_user_registration_path %>
 <%= link_to 'sign in', new_user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
