<!DOCTYPE html>
<html>
<head>
  <title>Proverbs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<% if user_signed_in? %>
  <ul>
    <% unless current_user.parent.nil? %>
      <li><%= link_to 'my kiddos', parent_path(current_user.parent.id) %></li>
    <% end %>
    <li><%= link_to 'verses', verses_path %></li>
    <li><%= link_to 'sign out', destroy_user_session_path, method: "DELETE" %></li>
  </ul>
<% else %>
 <%= link_to 'sign up', new_user_registration_path %>
 <%= link_to 'sign in', new_user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
